.collectionSection {
  width: 100%;
  text-transform: capitalize;
  overflow-y: auto;
}
.collectionSection::-webkit-scrollbar {
  display: none;
}
.loaderSection {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-section-bg);
}
.cell {
  display: grid;
  align-items: center;
  /* grid-template-columns: 1fr 3fr 2fr 2fr 1fr; */
}
.innerSection {
  display: flex;
  flex-direction: column;
  background: var(--primary-header-bg);
  background: var(--primary-header-gradient-bg);
}
.innerSection a {
  color: var(--primary-font-color);
}
.innerSection a:hover {
  text-decoration: underline;
}
.innerSection nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navigationBtn {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.navigationBtn button {
  border: none;
  padding: 0.1rem;
  background: none;
}
.innerSection header {
  padding: 1rem;
  display: flex;
  align-items: start;
  justify-content: start;
}
.desc {
  color: gray;
  display: flex;
  align-items: center;
}
.songManageSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.searchBar {
  width: 70%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
}
.searchBar input {
  width: 100%;
}
.searchBar input,
button {
  border: none;
  background: none;
}
.sortBtn {
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.type {
  color: #b8b8b8e0;
}
.title h1 {
  font-size: x-large;
  font-weight: bolder;
  color: #ffffff;
}
.desc {
  font-size: medium;
}
.desc h5 {
  color: #000000;
}
.songCount {
  color: #b8b8b8e0;
}
.detailsSection {
  display: flex;
  flex-direction: column;
}
.tableContainer {
  background: var(--primary-table-bg);
  background: var(--primary-table-gradient-bg);
}
.tableContainer table {
  width: 100%;
  margin-bottom: 1rem;
}
.tableContainer table td {
  text-align: center;
  overflow: hidden;
}
.tableContainer table thead {
  background-color: rgba(71, 71, 71, 0.603);
  position: sticky;
  top: 0;
}
.tableContainer table thead tr th {
  margin-left: 1rem;
  padding: 1rem;
  color: var(--primary-section-bg);
}
.tableContainer table tbody tr td {
  color: var(--primary-font-color);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.tableSongTitleLabel {
  display: flex;
}
.songMainData {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.songAvatar {
  display: flex;
}
.songAvatar img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 4px;
}
.songDetails {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  overflow: hidden;
}
.songName {
  width: 7em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.songName:hover {
  overflow: visible;
  text-overflow: clip;
  animation: scroll 10s linear infinite;
}
.artistName {
  margin-top: 0.3rem;
  width: 7em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.artistName:hover {
  overflow: visible;
  text-overflow: clip;
  animation: scroll 10s linear infinite;
}
.albumNameSection {
  width: 6.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.albumNameSection:hover {
  overflow: visible;
  text-overflow: clip;
  animation: scroll 10s linear infinite;
}
@media only screen and (max-width: 426px) {
  .navigationBar {
    display: none;
  }
  .imgSection div img {
    display: none;
  }
  .songManageSection {
    display: none;
  }
  .type {
    display: none;
  }
  .tableContainer {
    padding-bottom: 8rem;
  }
  .tableContainer table thead {
    display: none;
  }
  .songNo {
    display: none;
  }
  .songDuration {
    display: none;
  }
}
@media only screen and (min-width: 426px) {
  .innerSection {
    border-radius: 5px 5px 0 0;
  }
  .innerSection header {
    align-items: center;
  }
  .imgSection div img {
    width: 80px;
    height: 80px;
    border-radius: 0.2rem;
  }
  .innerSection nav {
    display: none;
  }
  .detailsSection {
    padding: 1rem;
  }
  .detailsSection > div {
    margin: 0.2rem;
  }
  .title h1 {
    font-size: xx-large;
  }
  .collectionSection {
    border-radius: 0.5rem;
  }
  .moreBtn {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .tableSongAlbumLabel {
    display: none;
  }
  .tableSongDateLabel {
    display: none;
  }
  .songAlbumName {
    display: none;
  }
  .songAddedTime {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .innerSection {
    border-radius: 5px 5px 0 0;
  }
  .imgSection div img {
    width: 120px;
    height: 120px;
  }
  .title h1 {
    font-size: 3rem;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
