.leftSection {
  width: 30%;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  display: grid;
  grid-template-rows: 22% 78%;
  grid-template-columns: 100%;
}
@media only screen and (max-width: 768px) {
  .leftSection {
    width: 15%;
    border-radius: 0;
  }
}
@media only screen and (max-width: 425px) {
  .leftSection {
    display: none;
  }
}
