a {
  text-decoration: none;
  color: #ffffff;
}
.menuSection {
  display: flex;
  flex-direction: column;
  font-size: larger;
  text-transform: capitalize;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--primary-section-bg);
  border-radius: 0.5rem;
}
.homeDiv {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}
.searchDiv {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}
.homeSpanDiv {
  margin-left: 1rem;
  color: var(--primary-font-color);
}
.searchSpanDiv {
  margin-left: 1rem;
  color: var(--primary-font-color);
}
@media only screen and (max-width: 768px) {
  .menuSection {
    align-items: center;
    justify-content: center;
  }
  .homeSpanDiv {
    display: none;
  }
  .searchSpanDiv {
    display: none;
  }
}
