.rhap_container {
  background: none !important;
  box-shadow: none;
}
.rhap_stacked .rhap_controls-section {
  margin: 0 0 0 1rem;
}
.rhap_progress-indicator {
  display: none;
}
.rhap_progress-filled:hover {
  background-color: #1db954;
}
.rhap_progress-filled {
  background-color: var(--primary-font-color);
}
.rhap_time {
  color: var(--primary-font-color);
}
.rhap_download-progress {
  background-color: rgb(106 106 106 / 30%);
}
/* play/pause btn */
.rhap_main-controls-button {
  color: var(--primary-font-color);
}
.rhap_main {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rhap_progress-bar-show-download {
  background-color: var(--primary-section-bg);
}
/* rewind, forward btn */
.rhap_rewind-button,
.rhap_forward-button {
  display: none;
}
.rhap_volume-controls {
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .rhap_volume-controls {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .rhap_additional-controls {
    display: none;
  }
  .rhap_volume-controls {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  .rhap_progress-section {
    display: none;
  }
  .rhap_additional-controls {
    display: contents;
  }
  .rhap_container {
    padding: 0;
  }
  .rhap_stacked .rhap_controls-section {
    margin: 0;
  }
  .rhap_controls-section {
    justify-content: space-evenly;
  }
}
