.bottomContainer {
  --linear-fade-bg: linear-gradient(180deg, rgb(0 0 0 / 37%), rgb(0 0 0));
  width: 100dvw;
  background-image: var(--linear-fade-bg);
  position: absolute;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: space-evenly;
}
.homeIcon,
.searchIcon,
.libraryIcon {
  padding: 1rem;
}
@media only screen and (max-width: 425px) {
  .bottomContainer {
    display: flex;
    position: fixed;
    bottom: 0;
  }
}
