.librarySection {
  width: 100%;
  background-color: var(--primary-section-bg);
  border-radius: 0.5rem;
  overflow-y: scroll;
  --library-type-font-color: #5e5e5e;
}
.librarySection::-webkit-scrollbar {
  display: none;
}
.innerSection {
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 6rem;
  padding: 0.5rem;
}
.innerSection::-webkit-scrollbar {
  display: none;
}
.cardSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
.cardImgContainer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110px;
}
.cardImgContainer img {
  width: 100%;
  height: 100%;
}
.cardDetailsContainer {
  text-transform: capitalize;
  color: var(--primary-font-color);
  display: none;
}
.cardDetailsContainer > div {
  margin: 0.5rem 1rem 0.5rem 1rem;
}
.cardTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardSubTitle {
  color: var(--library-type-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 425px) {
  .librarySection {
    margin: 0;
    border-radius: 0;
  }
}
@media only screen and (max-width: 375px) {
  .cardImgContainer {
    height: 100px;
  }
}
