.mainContainer {
  position: fixed;
  top: 5.3rem;
  right: 2rem;
  /* background-color: var(--playlist-card-bg); */
  background-color: #3e3e3e;
  border-radius: 0.2rem;
  display: flex;
  --background-base: #121212;
  --background-highlight: #1f1f1f;
}
.subContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subContainer ul {
  list-style-type: none;
  padding: 0.5rem;
}
.subContainer ul li {
  color: white;
  margin: 2rem 4rem 1rem 1rem;
}
