a {
  text-decoration: none;
  color: #ffffff;
}
.librarySection {
  display: flex;
  flex-direction: column;
  font-size: larger;
  text-transform: capitalize;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--primary-section-bg);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 0.5rem;
}
.libraryLabel {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0.5rem;
}
.librarySpanDiv {
  margin-left: 1rem;
  color: var(--primary-font-color);
}
.libraryVerticalScroll {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 120px;
  /* max-height: 23.5rem; */
  max-height: 50vh;
  overflow-y: scroll;
}
.verticalCard {
  padding: 0.5rem;
  display: flex;
  margin: 5px;
  border-radius: 0.5rem;
}
.verticalCard:hover {
  background-color: rgba(105, 105, 105, 0.411);
}
.verticalCardImg {
  display: flex;
  border-radius: 5rem;
}
.verticalCardImg > img {
  width: 64px;
  height: 64px;
}
.circleImg {
  border-radius: inherit;
}
.squareImg {
  border-radius: 0.5rem;
}
.verticalCardDetails {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: medium;
  align-items: start;
  justify-content: center;
  margin: 0.5rem;
  color: var(--primary-font-color);
}
.verticalCardDesc {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .librarySection {
    align-items: center;
  }
  .librarySpanDiv {
    display: none;
  }
  .verticalCardDetails {
    display: none;
  }
  .verticalCard {
    padding: 0;
  }
}
.libraryVerticalScroll::-webkit-scrollbar {
  width: 1rem;
}
.libraryVerticalScroll::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background: var(--primary-background);
}
.libraryVerticalScroll::-webkit-scrollbar-thumb {
  background-color: rgba(121, 121, 121, 0.466);
  border-radius: 1rem;
  border: 3px solid var(--primary-background);
}
