.bottomSection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 425px) {
  .bottomSection {
    position: fixed;
    bottom: 4rem;
    background-color: var(--primary-background);
    margin: 0 0.5rem 0 0.5rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
  }
}
