.bottomSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem;
}
@media only screen and (max-width: 768px) {
  .bottomSection {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .bottomSection {
    grid-template-columns: repeat(2, 1fr);
  }
}
