.progressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerSection {
  width: 100%;
  height: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.progressContainer > div {
  margin: 0 0.5rem 0 0.5rem;
}
.innerSection div {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  position: absolute;
}
.innerSection input {
  width: 100%;
  height: 50%;
  position: absolute;
}
.innerSection input {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 80%;
  background: none;
}
.innerSection input:last-child::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 3rem;
}
.innerSection input:hover:last-child::-webkit-slider-thumb {
  background-color: var(--primary-font-color);
}
.loadedProgressBar::-webkit-slider-thumb {
  display: none;
}
.progressLabel {
  color: var(--primary-font-color);
}
.innerTimeLabel {
  font-size: medium;
}
