:root {
  --primary-background: #ffffff;
  --primary-section-bg: #cccccc;
  --primary-font-color: #272727;
  --playlist-card-bg: rgba(167, 167, 167, 0.68);
}
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  box-sizing: inherit;
  font-family: 'Josefin Sans', sans-serif;
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-background: #000000;
    --primary-section-bg: #1a1a1a;
    --primary-font-color: #e9e9e9;
    --playlist-card-bg: rgba(49, 49, 49, 0.68);
  }
}
