:root {
  --primary-background: #ffffff;
  --primary-section-bg: #cccccc;
  --primary-font-color: #272727;
  --playlist-card-bg: rgba(167, 167, 167, 0.68);
  --des-font-color: rgba(0, 0, 0, 0.53);
  --spotify-green-theme: #1db954;
  --primary-header-bg: rgb(102 64 228);
  --primary-header-gradient-bg: linear-gradient(
    212deg,
    rgba(70, 50, 136, 1) 0%,
    rgb(101 68 212) 100%
  );
  --primary-table-bg: rgb(55, 55, 55);
  --primary-table-gradient-bg: linear-gradient(
    180deg,
    rgb(192 192 192) 100%,
    rgb(192 192 192) 100%
  );
}
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  box-sizing: inherit;
  font-family: 'Josefin Sans', sans-serif;
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-background: #000000;
    --primary-section-bg: #090909;
    --primary-font-color: #e9e9e9;
    --playlist-card-bg: rgba(49, 49, 49, 0.68);
    --des-font-color: rgba(255, 255, 255, 0.53);
    --primary-header-bg: rgb(70, 50, 136);
    --primary-header-gradient-bg: linear-gradient(
      212deg,
      rgba(70, 50, 136, 1) 0%,
      rgba(39, 28, 76, 1) 100%
    );
    --primary-table-bg: rgb(55, 55, 55);
    --primary-table-gradient-bg: linear-gradient(
      180deg,
      rgba(55, 55, 55, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}
