.container {
  height: 100dvh;
  display: grid;
  grid-template-rows: 88% 12%;
  background-color: var(--primary-background);
}
.innerTopContainer {
  padding: 0.5rem;
  display: flex;
}
@media only screen and (max-width: 425px) {
  .innerTopContainer {
    padding: 0;
  }
  .container {
    grid-template-rows: 100%;
  }
}
